.btn {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  margin: 20px;
  background-color: rgba(137, 43, 226, 0.411);
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.btn:hover {
  background-color: #bea4fb;
}
